@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-studio-950 text-slate-100 antialiased overflow-hidden selection:bg-violet-500 selection:text-white;
  }
}

/* Custom Scrollbar for Studio feel */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #1e293b;
  border-radius: 9999px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #334155;
}
